<h1>About</h1>
<p>
	<%= link_to "My Training Site", "http://becctraining.webs.com" %>
	is where I have training material and content for all my training groups. This is my Sample Rails application.
</p>

