<div class="hero-unit">
<h1>Welcome to Giggsnem's First Rails Project</h1>

<p>
	<p>
	You've found my first Rails application and a link to my
		<%= link_to "Training Site", "http://becctraining.webs.com" %> on Webs.com.

	</p>
<p> 
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	
</p>


